In [1]:
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
from scipy import stats
import json
from pandas.io.json import json_normalize
import datetime
import ast
#from odo import odo
import ast
import urllib
from urllib.request import urlopen
from collections import OrderedDict, defaultdict

In [2]:
conn = 'mongodb://system:system@ds127936.mlab.com:27936/heroku_njlc7ffz'
client = pymongo.MongoClient(conn)

db = client.heroku_njlc7ffz
tedtalks = db.tedtalks_1

In [66]:
df = pd.read_csv('heroku_njlc7ffz.tedtalks.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 19 columns):
_id                   2550 non-null object
comments              2550 non-null int64
description           2550 non-null object
duration              2550 non-null int64
event                 2550 non-null object
film_date             2550 non-null int64
image_url             2550 non-null object
languages             2550 non-null int64
main_speaker          2550 non-null object
name                  2550 non-null object
num_speaker           2550 non-null int64
published_date        2550 non-null int64
ratings               2550 non-null object
related_talks         2550 non-null object
speaker_occupation    2544 non-null object
tags                  2550 non-null object
title                 2550 non-null object
url                   2550 non-null object
views                 2550 non-null int64
dtypes: int64(7), object(12)
memory usage: 378.6+ KB

In [67]:
df['tags'] = df['tags'].apply(literal_eval)

In [68]:
df['ratings'] = df['ratings'].apply(literal_eval)

In [69]:
#df['related_talks'] = df['related_talks'].apply(literal_eval)
df.drop(columns=['related_talks'],inplace=True)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 18 columns):
_id                   2550 non-null object
comments              2550 non-null int64
description           2550 non-null object
duration              2550 non-null int64
event                 2550 non-null object
film_date             2550 non-null int64
image_url             2550 non-null object
languages             2550 non-null int64
main_speaker          2550 non-null object
name                  2550 non-null object
num_speaker           2550 non-null int64
published_date        2550 non-null int64
ratings               2550 non-null object
speaker_occupation    2544 non-null object
tags                  2550 non-null object
title                 2550 non-null object
url                   2550 non-null object
views                 2550 non-null int64
dtypes: int64(7), object(11)
memory usage: 358.7+ KB

In [71]:
tedtalks.insert_many(df.to_dict('records'))